.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.sliderContainer {
  flex: 0 0 70%;
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.rating {
    width: 100vh;
    display: flex;
    flex-direction: column;
}

.emojiContainer {
  flex: 0 0 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rail {
  background-color: rgba(255, 255, 255, 0.2);
  height: 6px !important;
  border-radius: 3px;
}

.track {
  background-color: #e5e7eb;
  height: 6px !important;
  border-radius: 3px;
}

.handle {
  border: none;
  background-color: #ffffff;
  width: 18px !important;
  height: 18px !important;
  margin-top: -6px !important;
  opacity: 1 !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: grab;
}

.handle:active {
  cursor: grabbing;
  transform: scale(1.1);
  transition: transform 0.1s;
}